In [9]:
#Write a Python Program to Find the Factorial of a Number?

n=int(input("Enter number="))
h=1
i=1
while  i<n+1:
 h=h*(i)
 i+=1

print("factorial=",h)

Enter number=3
factorial= 6

In [11]:
#Write a Python Program to Display the multiplication Table?
n=int(input("enter number table for ="))


for i in range(1,11):
 h=i*n
 print("{}*{}={}".format(i,n,h))

enter number table for =5
1*5=5
2*5=10
3*5=15
4*5=20
5*5=25
6*5=30
7*5=35
8*5=40
9*5=45
10*5=50

In [54]:
#Write a Python Program to Print the Fibonacci sequence?

term = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if term <= 0:
   print("Please enter a positive integer")
elif term == 1:
   print("Fibonacci sequence upto",term,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < term:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [53]:
#Write a Python Program to Check Armstrong Number?
num1=int(input("enter a 3 digit number "))
tepo =num1
sum=0
while tepo > 0:
    digit=tepo % 10
    sum+=digit**3
    tepo//=10

if sum == num1:
 print("number is armstrong:",num1)
else:
  print("number is not a armstrong",num1)

enter a 3 digit number 407
number is armstrong: 407

In [46]:
#Write a Python Program to Find Armstrong Number in an Interval?
for j in range(100,100000):
  sum1=0
  tep=j
  while tep > 0:
    digit1=tep % 10
    sum1+=digit1**3
    tep//=10
  if sum1==j:
   print(j) 
print("all the armstrong number in the given range")

153
370
371
407
all the armstrong number in the given range

In [58]:
#Write a Python Program to Find the Sum of Natural Numbers?
number = int(input("enter number till which sum wanted:"))
sum=0
print("0")
for i in range(1,number+1):
  sum+=i
  print("+",i)
print(sum)

enter number till which sum wanted:10
0
+ 1
+ 2
+ 3
+ 4
+ 5
+ 6
+ 7
+ 8
+ 9
+ 10
55